<!-- Home Section -->
<section id="home" class="home rev-slider container">
  <!-- Container  -->
  <div class="tp-banner-container">
    <!-- Banner  -->
    <div class="revslider t-center" >
      <ul>
        <!-- Slide  -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/1.jpg" data-delay="3000"  data-saveperformance="off" data-title="Blacks in baseball: 3.8%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/1.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
          <!-- LAYERS / LAYER NR. 1 -->
          <div class="tp-caption el-cap customin customout rs-parallaxlevel-5 normal gray-light oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
            data-x="center" data-hoffset="8"
            data-y="center" data-voffset="-105"
            data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900"
            data-start="1400"
            data-easing="Power4.easeOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
            <!-- Layer Item  -->
            welcome to
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin customout rs-parallaxlevel-5 second_text normal white oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
            data-x="center" data-hoffset="0"
            data-y="center" data-voffset="-35"
            data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="900"
            data-start="1500"
            data-easing="Power4.easeOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
            <!-- Layer Item  -->
            new to the game
          </div>

        </li>
        <!-- End Slide  -->

        <!-- Slide  -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/2.jpg" data-delay="3000"  data-saveperformance="off" data-title="Hispanics in football: 3.3%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/2.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>
        <!-- End Slide  -->

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/3.jpg" data-delay="3000"  data-saveperformance="off" data-title="Whites in basketball: 19.5%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/3.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/4.jpg" data-delay="3000"  data-saveperformance="off" data-title="Black females in soccer: 4.1%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/4.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/5.jpg" data-delay="3000"  data-saveperformance="off" data-title="Whites in football:<br>6 out of every 20 players">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/5.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/6.jpg" data-delay="3000"  data-saveperformance="off" data-title="Blacks in tennis: 3.8%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/6.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/7.jpg" data-delay="3000"  data-saveperformance="off" data-title="We believe in our<br>children! Register Now!">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/7.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/8.jpg" data-delay="3000"  data-saveperformance="off" data-title="Hispanics in U.S. soccer: 10.9%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/8.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/9.jpg" data-delay="3000"  data-saveperformance="off" data-title="Blacks in softball: 5.3%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/9.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>

        <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/10.jpg" data-delay="3000"  data-saveperformance="off" data-title="Black males in soccer: 7.1%">
          <!-- Background Image -->
          <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/10.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>
      </ul>
    </div>
    <!-- End Slider  -->
  </div>
  <!-- End Container  -->

  <a href="#about" class="down-we-go uppercase normal oswald scroll" data-0="opacity:1;" data-600="opacity:0;">
    <i class="fa fa-angle-down fa-5x white"></i>
  </a>
</section>
<!-- End Home Section -->
