<!-- Testimonials -->
<section class="testimonials type-1 background39 parallax3">
  <!-- Inner -->
  <div class="inner">
    <!-- Quote -->
    <div class="quote white t-center circle light">
      <i class="fa fa-quote-left"></i>
    </div>
    <!-- Slider -->
    <div class="testimonial-slide mh-250">
      <!-- Item -->
      <div class="cbp-item">
        <!-- Item Header -->
        <h2 class="t-center light">
          When I came in it was 28 percent Black in Major League Baseball. Now it's down to 8 percent.
        </h2>
        <!-- Item Description -->
        <p class="uppercase light white t-center">Ken Griffey Sr.</p>
        <p class="uppercase light white t-center sport">Professional Baseball Player</p>
      </div>
      <!-- Item -->
      <div class="cbp-item">
        <!-- Item Header -->
        <h2 class="t-center light">
          The NBA needs some more White stars, we need more Larry Birds.
        </h2>
        <!-- Item Description -->
        <p class="uppercase light white t-center">Magic Johnson</p>
        <p class="uppercase light white t-center sport">Professional Basketball Player</p>
      </div>
      <!-- Item -->
      <div class="cbp-item">
        <!-- Item Header -->
        <h2 class="t-center light">
          There are a lot of people working toward getting young Hispanic people to play the game of golf, which is really, really great.
        </h2>
        <!-- Item Description -->
        <p class="uppercase light white t-center">Nancy Lopez</p>
        <p class="uppercase light white t-center sport">Professional Golfer</p>
      </div>
      <div class="cbp-item">
        <!-- Item Header -->
        <h2 class="t-center light">
          Asians need a hero like Yao Ming, Ichiro Suzuki or Tiger Woods to spark the sport of tennis for our culture.
        </h2>
        <!-- Item Description -->
        <p class="uppercase light white t-center">Ai Sugiyama</p>
        <p class="uppercase light white t-center sport">Professional Tennis Player</p>
      </div>
      <div class="cbp-item">
        <!-- Item Header -->
        <h2 class="t-center light">
          The entry of Indians into Major League Baseball initiated the race/sport issue. Despite performing with distinction while being recognized and treated as minorities, Indian players have received scant recognition
        </h2>
        <!-- Item Description -->
        <p class="uppercase light white t-center">Joseph B. Oxendine, Ph.D</p>
        <p class="uppercase light white t-center sport">Professional Baseball Player/ Author</p>
      </div>
    </div>
    <!-- End Slider -->
  </div>
  <!-- End Inner -->
</section>
<!-- End Testimonials -->
