<!-- Page Header - litle-header - big-header or bigger-header -->
<section id="page-header" class="background40 parallax big-header">
  <!-- Page Header Inner -->
  <div class="page_header_inner clearfix white">
    <!-- Left -->
    <div class="left f-left">
      <!-- Header -->
      <h2 class="page_header thin">
        About Us
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note extra-light">
        Changing the face of competitive sports through youth exsposure
      </h5>
    </div>
  </div>
  <!-- End Inner -->
</section>
<!-- End #page-header -->

<section id="about" class="container">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			About<span class="colored"> New to the Game</span>
		</h1>
		<p class="light">
      New To The Game, Inc is a non-profit organization based in Miami, Fl and was established in 2015 by former professional baseball player, President/Founder, Calvin Lester.
      <br>
      <br>
      NTTG operates in conjunction with a number of athletic service providers to offer athletic opportunities to all of our applicants at absolutely no cost.
		</p>
	</div>
</section>

<section id="about" class="container" style="background-color: whitesmoke;">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			Our<span class="colored"> Mission</span>
		</h1>
		<p class="light">
      Racial disparities are prominent within competitive sports throughout the United States. Our mission is to bridge those gaps by exposing the underserved youth of our communities to sports in which they are poorly represented and under exposed.
		</p>
	</div>
</section>
