<section id="page-header" class="background45 parallax big-header">
  <div class="page_header_inner clearfix white antialiased">
    <div class="left f-left">
      <h2 class="page_header">
        EOS Evaluation Form
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note light">
      </h5>
    </div>
  </div>
</section>

<section id="contact" class="relative contact">
  <div class="inner t-center clearfix animated" data-animation="fadeIn" data-animation-delay="400" style="padding:150px 0;">
    <h1 class="header header-style-2 dark oswald strip uppercase t-center">
      Coming soon
    </h1>
    <p class="light t-center">
      <%= link_to 'contact us for more info', contact_path, class: 'colored contact-link' %>
    </p>
  </div>
</section>

<section class="address type-2 background37 parallax9 dark-bg">
  <div class="boxed clearfix relative">
    <a class="box clearfix block f-left" href="tel:7866109065">
      <div class="f-left icon">
        <i class="fa fa-mobile"></i>
      </div>
      <div class="f-right texts">
        <span class="arrow"></span>
        <h3 class="no-padding no-margin extra-light">
          Phone
        </h3>
        <p class="no-margin no-padding light">
          786 610 9065
        </p>
        </p>
      </div>
    </a>
    <a class="box clearfix block f-left" href="mailto:info@newtothegame.org">
      <div class="f-left icon">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="f-right texts">
        <span class="arrow"></span>
        <h3 class="no-padding no-margin extra-light">
          E-Mail
        </h3>
        <p class="no-margin no-padding extra-light">
          info@newtothegame.org
        </p>
      </div>
    </a>
    <a class="box clearfix block f-left scroll" href="#map">
      <div class="f-left icon">
        <i class="fa fa-map-marker"></i>
      </div>
      <div class="f-right texts">
        <span class="arrow"></span>
        <h3 class="no-padding no-margin extra-light">
          Address
        </h3>
        <p class="no-margin no-padding extra-light">
          New To The Game, Inc.<br>
          P.O. Box 924423<br>
          Homestead, Fl 33092
        </p>
      </div>
    </a>
  </div>
</section>


<!-- BG Video -->
<section class="watch-our-video t-center">
  <!-- Dark BG For Video -->
  <div class="fullscreen z-1 absolute table xdark-bg">
    <!-- Header -->
    <h1 class="header header-style-1 white normal v-center uppercase antialiased oswald t-center">
      new to the game, inc.
    </h1>
  </div>
  <!-- Ful Screen Slider -->
  <div id="video_section" class="fullscreen background34 absolute video xdark-bg">
    <!-- Video -->
    <div id="p1" class="player video-container" data-property="{videoURL:'xGRTeOrWDs4', containment:'#video_section', autoPlay:true, showControls:true, mute:true, startAt:0, opacity:1}"></div>
    <!-- End Video -->
  </div>
</section>
<!-- End BG Video -->
