<%= render 'pages/flexslider/slides' %>

<section id="about" class="container">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
			Our<span class="colored"> Mission</span>
		</h1>
		<p class="light animated" data-animation="fadeIn" data-animation-delay="200">
			<span style="font-style: italic;font-weight: 400;">“Changing the face of competitive sports through youth exsposure”</span>
			<br>
			<br>
			New To The Game, Inc is a non-profit organization that is 100% free to all applicants.  Our mission is to expose the underserved youth of our communities to sports that are lacking significant participation amongst individuals in their race. Over the years, kids in the urban community have traditionally participated in sports like football and basketball, while sports like golf, tennis, baseball, hockey and softball continue to thrive without them.
		</p>
    <%= link_to 'Learn More', our_mission_path, class: 'home-button dark-button uppercase normal', style: 'color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;' %>
	</div>
</section>

<%= render 'pages/quotes/playerquotes' %>

<%= render 'pages/stats/homestats' %>

<section id="features" class="container background41 parallax1">
	<div class="inner t-center">
		<h1 class="header header-style-1 white antialiased normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
			Athlete of the Month
		</h1>
		<div class="feature-boxes clearfix">
			<div class="feature-box col-sm-3 animated" data-animation="fadeIn" data-animation-delay="100">
				<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/athelete-of-the-month.jpg" alt="Athlete" class="img-responsive athlete" />
			</div>
			<div class="feature-box col-sm-9 animated" data-animation="fadeIn" data-animation-delay="150">
				<div class="feature-text f-left t-left white">
					<h2 class="no-margin normal no-padding">
						Nolan Ryan
					</h2>
					<p>
						Fixie forage messenger bag Bushwick hashtag organic food truck lo-fi kale chips blog. Tumblr Echo Park pour-over umami photo booth drinking vinegar. Seitan pop-up wolf, Bushwick yr pour-over sriracha Banksy lumbersexual. Heirloom Williamsburg ethical, selvage selfies kogi kale chips four dollar toast freegan pour-over raw denim. Trust fund Portland four loko, fixie before they sold out four dollar toast tote bag Echo Park. Keytar before they sold out cred cronut retro. Listicle meggings cray kale chips.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
