<!-- Page Loader -->
	<article id="pageloader" class="white-loader">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</article>

	<!-- Home Section -->
	<section id="home" class="home rev-slider container">
		<!-- Container  -->
		<div class="tp-banner-container">
			<!-- Banner  -->
			<div class="revslider t-center" >
				<ul>
					<!-- Slide  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-1.jpg" data-delay="13000"  data-saveperformance="off" >
						<!-- Background Image -->
						<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-1.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- LAYERS / LAYER NR. 1 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 normal gray-light oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="8"
							data-y="center" data-voffset="-105"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1400"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
              welcome to
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 second_text normal white oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="-35"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1500"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							new to the game
						</div>


						<!-- LAYER NR. 4 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="85"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							<a href="#about" class="home-button dark-button uppercase normal oswald scroll" data-0="opacity:1;" data-600="opacity:0;">
								Learn More
							</a>
						</div>

					</li>
					<!-- End Slide  -->

					<!-- Slide  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-2.jpg" data-delay="13000"  data-saveperformance="off">
						<!-- Background Image -->
						<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-2.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- LAYERS / LAYER NR. 1 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 normal gray-light oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="8"
							data-y="center" data-voffset="-105"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1400"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							check out
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 second_text normal white oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="-35"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1500"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							Our Mission
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 third_text normal white normal" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="37"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1600"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
						</div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="85"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							<a href="#" class="home-button dark-button uppercase normal oswald scroll" data-0="opacity:1;" data-600="opacity:0;">
								Learn More
							</a>
						</div>
					</li>
					<!-- End Slide  -->

					<!-- Slide  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-3.jpg" data-delay="13000"  data-saveperformance="off">
						<!-- Background Image -->
						<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-3.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
					</li>
					<!-- End Slide  -->

          <!-- Slide  -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-4.jpg" data-delay="13000"  data-saveperformance="off">
            <!-- Background Image -->
            <img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-4.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
          </li>
          <!-- End Slide  -->

				</ul>
			</div>
			<!-- End Slider  -->
		</div>
		<!-- End Container  -->
	</section>
	<!-- End Home Section -->











	<!-- Features Section -->
	<section id="about" class="container">

		<!-- Features Inner -->
		<div class="inner t-center">

			<!-- Header -->
			<h1 class="header header-style-1 dark normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
				Our<span class="colored"> Mission</span>
			</h1>
			<!-- Header Text -->
			<p class="light animated" data-animation="fadeIn" data-animation-delay="200">
				New To The Game, Inc is a non-profit organization that is 100% free to all applicants.  Our mission is to expose the underserved youth of our communities to sports that are lacking significant participation amongst individuals in their race. Over the years, kids in the urban community have traditionally participated in sports like football and basketball, while sports like golf, tennis, baseball, hockey and softball continue to thrive without them.
			</p>
      <a href="#" class="home-button dark-button uppercase normal" style="color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;">
        Mission
      </a>

		</div>
		<!-- End Features Inner  -->
	</section>
	<!-- End Features Section  -->


 <%= render 'pages/quotes/playerquotes' %>


	<!-- Team Section -->
	<section id="team" class="container type-2">

		<!-- Featured Works Inner -->
		<div class="inner t-center">

			<!-- Header -->
			<h2 class="header header-style-1 dark normal oswald uppercase animated" data-animation="fadeIn" data-animation-delay="100">
				Athlete of the week
			</h2>
			<!-- Header Text -->

			<!-- Team Boxes -->
			<div class="team-boxes box-carousel antialiased four-items clearfix">

				<!-- Team Box -->
				<div class="team-box animated" data-animation="fadeIn" data-animation-delay="300">
					<!-- Image Area -->
					<div class="member-image fullwidth">
						<!-- Image Way -->
						<img src="images/team/a_01.jpg" alt="crexis" />
					</div>
					<!-- Member Details -->
					<div class="member-details light">
						<!-- Name -->
						<h3>
							Adriana Wrins
						</h3>
						<!-- Position -->
						<h5>
							Web Designer
						</h5>
						<!-- Strip -->
						<div class="strip"></div>
						<!-- Member Description -->
						<p class="normal">
							There are many variations of passages of Lorem Ipsum avai lable.
						</p>
						<!-- Socials -->
						<div class="socials">
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-pinterest"></i>
							</a>
						</div>
						<!-- View More Button -->
						<a data-toggle="modal" data-target="#member1" class="member-more uppercase normal team_modal">View More</a>
					</div>
					<!-- End Member Details -->
				</div>
				<!-- End Box -->

				<!-- Team Box -->
				<div class="team-box animated" data-animation="fadeIn" data-animation-delay="400">
					<!-- Image Area -->
					<div class="member-image fullwidth">
						<!-- Image Way -->
						<img src="images/team/a_02.jpg" alt="crexis" />
					</div>
					<!-- Member Details -->
					<div class="member-details light">
						<!-- Name -->
						<h3>
							Sarah Slena
						</h3>
						<!-- Position -->
						<h5>
							Photographer
						</h5>
						<!-- Strip -->
						<div class="strip"></div>
						<!-- Member Description -->
						<p class="normal">
							There are many variations of passages of Lorem Ipsum avai lable.
						</p>
						<!-- Socials -->
						<div class="socials">
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-pinterest"></i>
							</a>
						</div>
						<!-- View More Button -->
						<a data-toggle="modal" data-target="#member2" class="member-more uppercase normal team_modal">View More</a>
					</div>
					<!-- End Member Details -->
				</div>
				<!-- End Box -->

				<!-- Team Box -->
				<div class="team-box animated" data-animation="fadeIn" data-animation-delay="500">
					<!-- Image Area -->
					<div class="member-image fullwidth">
						<!-- Image Way -->
						<img src="images/team/a_03.jpg" alt="crexis" />
					</div>
					<!-- Member Details -->
					<div class="member-details light">
						<!-- Name -->
						<h3>
							Tom Relmac
						</h3>
						<!-- Position -->
						<h5>
							Human Resources
						</h5>
						<!-- Strip -->
						<div class="strip"></div>
						<!-- Member Description -->
						<p class="normal">
							There are many variations of passages of Lorem Ipsum avai lable.
						</p>
						<!-- Socials -->
						<div class="socials">
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-pinterest"></i>
							</a>
						</div>
						<!-- View More Button -->
						<a data-toggle="modal" data-target="#member3" class="member-more uppercase normal team_modal">View More</a>
					</div>
					<!-- End Member Details -->
				</div>
				<!-- End Box -->

				<!-- Team Box -->
				<div class="team-box animated" data-animation="fadeIn" data-animation-delay="600">
					<!-- Image Area -->
					<div class="member-image fullwidth">
						<!-- Image Way -->
						<img src="images/team/a_04.jpg" alt="crexis" />
					</div>
					<!-- Member Details -->
					<div class="member-details light">
						<!-- Name -->
						<h3>
							Mike Bearn
						</h3>
						<!-- Position -->
						<h5>
							Designer
						</h5>
						<!-- Strip -->
						<div class="strip"></div>
						<!-- Member Description -->
						<p class="normal">
							There are many variations of passages of Lorem Ipsum avai lable.
						</p>
						<!-- Socials -->
						<div class="socials">
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<!-- Social Link -->
							<a href="#">
								<i class="fa fa-pinterest"></i>
							</a>
						</div>
						<!-- View More Button -->
						<a data-toggle="modal" data-target="#member4" class="member-more uppercase normal team_modal">View More</a>
					</div>
					<!-- End Member Details -->
				</div>
				<!-- End Box -->

			</div>
			<!-- End Boxes -->
		</div>
		<!-- End Inner -->


		<!-- Member Modals -->
		<div id="member-modals">

			<!-- Modal -->
			<div class="modal fade" id="member1" tabindex="-1" role="dialog" aria-hidden="true">
				<!-- Modal Dialog -->
				<div class="modal-dialog t-left">
					<!-- Body -->
					<div class="modal-body t-center clearfix">
						<!-- Close Button -->
						<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
						<!-- Image SRC -->
						<div class="member-image">
							<img src="images/team/a_01.jpg" alt="Crexis Team" />
						</div>
						<!-- Details -->
						<div class="details t-left">
							<!-- Member Name -->
							<h2 class="member-header extra-light">
								Adriana Wrins
							</h2>
							<!-- Member Position -->
							<h4 class="member-position extra-light colored">
								Web Designer
							</h4>
							<!-- Description -->
							<p class="no-padding extra-light">
								Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
							</p>
						</div>
						<!-- End Details -->
					</div>
					<!-- End Body -->
				</div>
				<!-- End Dialog -->
			</div>
			<!-- End Modal -->

			<!-- Modal -->
			<div class="modal fade" id="member2" tabindex="-1" role="dialog" aria-hidden="true">
				<!-- Modal Dialog -->
				<div class="modal-dialog t-left">
					<!-- Body -->
					<div class="modal-body t-center clearfix">
						<!-- Close Button -->
						<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
						<!-- Image SRC -->
						<div class="member-image">
							<img src="images/team/a_02.jpg" alt="Crexis Team" />
						</div>
						<!-- Details -->
						<div class="details t-left">
							<!-- Member Name -->
							<h2 class="member-header extra-light">
								Sarah Slena
							</h2>
							<!-- Member Position -->
							<h4 class="member-position extra-light colored">
								Photographer
							</h4>
							<!-- Description -->
							<p class="no-padding extra-light">
								Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
							</p>
						</div>
						<!-- End Details -->
					</div>
					<!-- End Body -->
				</div>
				<!-- End Dialog -->
			</div>
			<!-- End Modal -->

			<!-- Modal -->
			<div class="modal fade" id="member3" tabindex="-1" role="dialog" aria-hidden="true">
				<!-- Modal Dialog -->
				<div class="modal-dialog t-left">
					<!-- Body -->
					<div class="modal-body t-center clearfix">
						<!-- Close Button -->
						<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
						<!-- Image SRC -->
						<div class="member-image">
							<img src="images/team/a_03.jpg" alt="Crexis Team" />
						</div>
						<!-- Details -->
						<div class="details t-left">
							<!-- Member Name -->
							<h2 class="member-header extra-light">
								Tom Relmac
							</h2>
							<!-- Member Position -->
							<h4 class="member-position extra-light colored">
								Human Resources
							</h4>
							<!-- Description -->
							<p class="no-padding extra-light">
								Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
							</p>
						</div>
						<!-- End Details -->
					</div>
					<!-- End Body -->
				</div>
				<!-- End Dialog -->
			</div>
			<!-- End Modal -->

			<!-- Modal -->
			<div class="modal fade" id="member4" tabindex="-1" role="dialog" aria-hidden="true">
				<!-- Modal Dialog -->
				<div class="modal-dialog t-left">
					<!-- Body -->
					<div class="modal-body t-center clearfix">
						<!-- Close Button -->
						<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
						<!-- Image SRC -->
						<div class="member-image">
							<img src="images/team/a_04.jpg" alt="Crexis Team" />
						</div>
						<!-- Details -->
						<div class="details t-left">
							<!-- Member Name -->
							<h2 class="member-header extra-light">
								Mike Bearn
							</h2>
							<!-- Member Position -->
							<h4 class="member-position extra-light colored">
								Designer
							</h4>
							<!-- Description -->
							<p class="no-padding extra-light">
								Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
							</p>
						</div>
						<!-- End Details -->
					</div>
					<!-- End Body -->
				</div>
				<!-- End Dialog -->
			</div>
			<!-- End Modal -->

		</div>
		<!-- End Modals -->

	</section>
	<!-- End Team Section -->
