<%= render 'pages/flexslider/slides' %>

<section id="about" class="container">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			Our<span class="colored"> Mission</span>
		</h1>
		<p class="light">
			<span style="font-style: italic;font-weight: 400;">“Changing the face of competitive sports through youth exsposure”</span>
			<br>
			<br>
			New To The Game, Inc. is a non-profit organization that is 100% free to all applicants.  Our mission is to expose the underserved youth of our communities to sports that are lacking significant participation amongst individuals in their race. Over the years, kids in the urban community have traditionally participated in sports like football and basketball, while sports like golf, baseball, tennis, hockey and softball continue to thrive without them.
			<br>
			<br>
			By exposing underserved youth to sports that are lacking their participation, we plan to change the racial demographics of competitive sports at all levels throughout the United States. Subsequently transitioning underexposed youth from virtually nonparticipants to common enthusiasts of many of the sports in which they are currently underrepresented.
			<br>
			<br>
			Providing kids with the opportunity to participate in sports that have grown without a significant representation of them is the reason New To The Game, Inc. was founded. Helping parents with the financial challenges of providing athletic opportunities to their children, as well as connecting the wide range of local youth sports to the communities in which these children live is what drives us.
			<br>
			<br>
			Not only are we here for the children in our communities, but we believe in them! We believe the next Serena Williams, Carlos Arroyo, Ken Griffey Jr, Larry Bird, or Tiger Woods is in one of our communities waiting to be exposed to something new. Eager to be... NEW TO THE GAME!
		</p>
	</div>
</section>

<%= render 'pages/quotes/playerquotes' %>

<%= render 'pages/stats/homestats' %>

<section id="features" class="container background41 parallax1">
	<div class="inner t-center">
		<h1 class="header header-style-1 white antialiased normal uppercase oswald">
			Equalizer of the Month
		</h1>
		<div class="feature-boxes clearfix">
			<!-- <div class="feature-box col-sm-3">
				<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/athelete-of-the-month.jpg" alt="Athlete" class="img-responsive athlete" />
			</div>
			<div class="feature-box col-sm-9">
				<div class="feature-text f-left t-left white">
					<h2 class="no-margin normal no-padding">
						Nolan Ryan
					</h2>
					<p>
						Fixie forage messenger bag Bushwick hashtag organic food truck lo-fi kale chips blog. Tumblr Echo Park pour-over umami photo booth drinking vinegar. Seitan pop-up wolf, Bushwick yr pour-over sriracha Banksy lumbersexual. Heirloom Williamsburg ethical, selvage selfies kogi kale chips four dollar toast freegan pour-over raw denim. Trust fund Portland four loko, fixie before they sold out four dollar toast tote bag Echo Park. Keytar before they sold out cred cronut retro. Listicle meggings cray kale chips.
					</p>
				</div>
			</div> -->
			<h2 class="feature-text t-center white">Coming Soon</h2>
		</div>
	</div>
</section>
