	<!-- Home Section -->
	<section id="home" class="home rev-slider container">
		<!-- Container  -->
		<div class="tp-banner-container">
			<!-- Banner  -->
			<div class="revslider t-center" >
				<ul>
					<!-- Slide  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-1.jpg" data-delay="13000"  data-saveperformance="off" >
						<!-- Background Image -->
						<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-1.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- LAYERS / LAYER NR. 1 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 normal gray-light oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="8"
							data-y="center" data-voffset="-105"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1400"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
              welcome to
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 second_text normal white oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="-35"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1500"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							new to the game
						</div>


						<!-- LAYER NR. 4 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="85"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							<a href="#about" class="home-button dark-button uppercase normal oswald scroll" data-0="opacity:1;" data-600="opacity:0;">
								Learn More
							</a>
						</div>

					</li>
					<!-- End Slide  -->

					<!-- Slide  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-2.jpg" data-delay="13000"  data-saveperformance="off">
						<!-- Background Image -->
						<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/main-2.jpg"  alt="slidebg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
						<!-- LAYERS / LAYER NR. 1 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 normal gray-light oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="8"
							data-y="center" data-voffset="-105"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1400"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							check out
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 second_text normal white oswald uppercase" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="-35"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1500"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							Our Mission
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5 third_text normal white normal" data-0="opacity:1;" data-600="opacity:0;"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="37"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1600"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
						</div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption customin customout rs-parallaxlevel-5"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="85"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="900"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
							<!-- Layer Item  -->
							<a href="#" class="home-button dark-button uppercase normal oswald scroll" data-0="opacity:1;" data-600="opacity:0;">
								Learn More
							</a>
						</div>
					</li>
					<!-- End Slide  -->
				</ul>
			</div>
			<!-- End Slider  -->
		</div>
		<!-- End Container  -->
	</section>
	<!-- End Home Section -->











	<!-- Features Section -->
	<section id="about" class="container">

		<!-- Features Inner -->
		<div class="inner t-center">

			<!-- Header -->
			<h1 class="header header-style-1 dark normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
				Our<span class="colored"> Mission</span>
			</h1>
			<!-- Header Text -->
			<p class="light animated" data-animation="fadeIn" data-animation-delay="200">
				<span style="font-style: italic;font-weight: 400;">“Changing the face of competitive sports through youth exsposure”</span>
				<br>
				<br>
				New To The Game, Inc is a non-profit organization that is 100% free to all applicants.  Our mission is to expose the underserved youth of our communities to sports that are lacking significant participation amongst individuals in their race. Over the years, kids in the urban community have traditionally participated in sports like football and basketball, while sports like golf, tennis, baseball, hockey and softball continue to thrive without them.
			</p>
      <a href="#" class="home-button dark-button uppercase normal" style="color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;">
        Mission
      </a>

		</div>
		<!-- End Features Inner  -->
	</section>
	<!-- End Features Section  -->


 <%= render 'pages/quotes/playerquotes' %>

 <%= render 'pages/stats/homestats' %>


 <!-- Boxes With Features Section -->
 	<section id="features" class="container background41 parallax1">

 		<!-- Features Inner -->
 		<div class="inner t-center">

 			<!-- Header -->
 			<h1 class="header header-style-1 white antialiased normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
 				Athlete of the Month
 			</h1>

 			<!-- Boxes  -->
 			<div class="feature-boxes clearfix">

 				<!-- Box  -->
 				<div class="feature-box col-sm-3 animated" data-animation="fadeIn" data-animation-delay="100">
 					<img src="https://s3-us-west-2.amazonaws.com/nttg/web-images/athelete-of-the-month.jpg" alt="Athlete" class="img-responsive athlete" />
 				</div>
 				<!-- End Box  -->

 				<!-- Box  -->
 				<div class="feature-box col-sm-9 animated" data-animation="fadeIn" data-animation-delay="150">
 					<!-- Box Texts  -->
 					<div class="feature-text f-left t-left white">
 						<!-- Box Header  -->
 						<h2 class="no-margin normal no-padding">
 							Nolan Ryan
 						</h2>
 						<!-- Box Description  -->
 						<p>
 							Fixie forage messenger bag Bushwick hashtag organic food truck lo-fi kale chips blog. Tumblr Echo Park pour-over umami photo booth drinking vinegar. Seitan pop-up wolf, Bushwick yr pour-over sriracha Banksy lumbersexual. Heirloom Williamsburg ethical, selvage selfies kogi kale chips four dollar toast freegan pour-over raw denim. Trust fund Portland four loko, fixie before they sold out four dollar toast tote bag Echo Park. Keytar before they sold out cred cronut retro. Listicle meggings cray kale chips.
 						</p>
 					</div>
 				</div>
 				<!-- End Box  -->


 			</div>
 			<!-- End Boxes  -->
 		</div>
 		<!-- End Features Inner  -->
 	</section>
 	<!-- End Features Section  -->
