<!-- Page Header - litle-header - big-header or bigger-header -->
<section id="page-header" class="background42 parallax big-header">
  <!-- Page Header Inner -->
  <div class="page_header_inner clearfix white">
    <!-- Left -->
    <div class="left f-left">
      <!-- Header -->
      <h2 class="page_header thin">
        Did You Know?
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note extra-light">

      </h5>
    </div>
  </div>
  <!-- End Inner -->
</section>
<!-- End #page-header -->




<section class="did-you-know">
  <div class="container-fluid">
    <% @knows.each do |k| %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <h3><%= k.title %></h3>
          <hr>
          <p class="light">
            <%= k.description %>
          </p>
        </div>
        <div class="col-sm-6 col-sm-offset-1 bkg" style="padding-right:0;background-image: url(<%= k.picture %>);background-size:cover;background-position: center center;">
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>American Indian/ Alaskan Native Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Asian Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Asian Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Black Female</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Black Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Hispanic Female</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Hispanic Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Native Hawaiian Pacific Islander Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Native Hawaiian Pacific Islander Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Other Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Other Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>White Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>White Males</h3>
        <hr>
      </div>
    </div>

  </div>
</section>
