<!-- Page Header - litle-header - big-header or bigger-header -->
<section id="page-header" class="background42 parallax big-header">
  <!-- Page Header Inner -->
  <div class="page_header_inner clearfix white">
    <!-- Left -->
    <div class="left f-left">
      <!-- Header -->
      <h2 class="page_header thin">
        Did You Know?
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note extra-light">

      </h5>
    </div>
  </div>
  <!-- End Inner -->
</section>
<!-- End #page-header -->


<section class="did-you-know">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Black Athletes</h3>
        <hr>
        <p class="light">
          On April 15, 1947 Jackie Robinson became the first African American to play in the major leagues.  While in college at the University of California Los Angeles (UCLA), in 1939, Robinson became the first athlete to win varsity letters in four sports football, basketball, track and baseball. Jackie Robinson broke down baseball’s color barrier in 1947, enduring countless acts of racial abuse to create opportunities for all African-Americans in the world of baseball. Unfortunately, today just 3.8% of all college baseball players and 5.3% of all college softball players are Black.
        </p>
      </div>
      <div class="col-md-4 bkg indian" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>American Indian/ Alaskan Native Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Asian Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Asian Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Black Female</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Black Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Hispanic Female</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Hispanic Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Native Hawaiian Pacific Islander Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Native Hawaiian Pacific Islander Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>Other Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>Other Males</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h3>White Females</h3>
        <hr>
      </div>
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 bkg" style="padding-left:0;padding-right:0;">
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h3>White Males</h3>
        <hr>
      </div>
    </div>

  </div>
</section>
