<!-- Page Header - litle-header - big-header or bigger-header -->
<section id="page-header" class="background40 parallax big-header">
  <!-- Page Header Inner -->
  <div class="page_header_inner clearfix white">
    <!-- Left -->
    <div class="left f-left">
      <!-- Header -->
      <h2 class="page_header thin">
        Our Mission
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note extra-light">
        Changing the face of competitive sports through youth exsposure
      </h5>
    </div>
  </div>
  <!-- End Inner -->
</section>
<!-- End #page-header -->

<section id="about" class="container">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			About<span class="colored"> New to the Game</span>
		</h1>
		<p class="light">
			New To The Game, Inc is a non-profit organization based in Miami, Fl and was established in 2015 by former professional baseball player, President/Founder, Calvin Lester.
		</p>
	</div>
</section>

<section id="about" class="container" style="background-color: whitesmoke;">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			Our<span class="colored"> Mission</span>
		</h1>
		<p class="light">
      New To The Game, Inc. is a non-profit organization that is 100% free to all applicants.  Our mission is to expose the underserved youth of our communities to sports that are lacking significant participation amongst individuals in their race. Over the years, kids in the urban community have traditionally participated in sports like football and basketball, while sports like golf, baseball, tennis, hockey and softball continue to thrive without them.
      <br>
      <br>
      By exposing underserved youth to sports that are lacking their participation, we plan to change the racial demographics of competitive sports at all levels throughout the United States. Subsequently transitioning underexposed youth from virtually nonparticipants to common enthusiasts of many of the sports in which they are currently underrepresented.
      <br>
      <br>
      Providing kids with the opportunity to participate in sports that have grown without a significant representation of them is the reason New To The Game, Inc. was founded. Helping parents with the financial challenges of providing athletic opportunities to their children, as well as connecting the wide range of local youth sports to the communities in which these children live is what drives us.
      <br>
      <br>
      Not only are we here for the children in our communities, but we believe in them! We believe the next Serena Williams, Carlos Arroyo, Ken Griffey Jr, Larry Bird, or Tiger Woods is in one of our communities waiting to be exposed to something new. Eager to be... NEW TO THE GAME!
		</p>
	</div>
</section>
