<section id="page-header" class="background43 parallax big-header">
  <div class="page_header_inner clearfix white antialiased">
    <div class="left f-left">
      <h2 class="page_header">
        Partners & Supporters
      </h2>
      <!-- Sub Page Text -->
      <h5 class="page_note light">
      </h5>
    </div>
  </div>
</section>

<section class="clearfix boxed mt-80 mb-80">
  <h1 class="header header-style-1 dark normal uppercase oswald animated t-center" data-animation="fadeIn" data-animation-delay="200">
    Application Process
  </h1>

  <div class="tabs custom-tabs col-md-6">
    <div class="tab-content">
      <div class="tab-pane fade in active clearfix" id="one" style="padding-top:0;">
        <p class="note">
          During the registration application you will be asked to pick two sports, an Equalizer Sport and a Premier Sport. The registration fees for both sports are completely paid for by New To The Game, Inc. and 100% free for all accepted applicants.<br>
          (One child per household.)
        </p>
        <a class="tab-image t-center mb-20" style="margin-top:0;">
          <%= image_tag 'https://s3-us-west-2.amazonaws.com/nttg/web-images/slider/baseball.jpg', class: 'img-responsive' %>
        </a>
      </div>
    </div>
  </div>

  <div class="accordion col-md-6 no-padding-right">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="panel-button uppercase">
          Equalizer Sport
          </a>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p class="note">
                An Equalizer Sport is a sport that has a participation rate below 15% amongst individuals in your child’s race and must be played prior to your child playing his or her Premier Sport. Your child must attend at least 80% of the required activities. This includes team practices, games, personal lessons and any other activities required for the positive development of the athlete. Failure to attend at least 80% of the required activities, or to complete and submit the End of Season Evaluation Form, will result in the inability to move on to the chosen Premier Sport. If you do not see the Equalizer Sport you are looking for, it is either because it is not currently being offered by NTTG or it has a participation rate which is greater than 15% amongst individuals in your child’s race.
              </p>
            <blockquote class="colored-border mt-20">
              <p class="light note">
                In some instances New To The Game, Inc. reserves the right to change the percentage for a qualifying Equalizer Sport and other qualifying factors.
              </p>
            </blockquote>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" class="panel-button uppercase">
          Premier Sport
        </a>
        <div id="collapsetwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="note">
                A Premier Sport is any sport being offered by NTTG regardless of the participation rate amongst individuals in your child’s race. Your child’s Premier sport can only be played after your child’s Equalizer Sport has been completed and the End of Season Evaluation Form has been filled out and submitted to us. It is required that your child attend at least 80% of scheduled team activities. This includes team practices, games, personal lessons and any other activities required for the positive development of the athlete. A failure to attend at least 80% of the required activities will be considered upon review of future application submissions.
              </p>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="panel-button uppercase">
          End Of Season (EOS) Evaluation Form
        </a>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p class="note">
              The EOS Evaluation Form is available for download directly from our homepage and must be completed by both the applicant and the applicant’s coach or instructor at the conclusion of the applicant’s Equalizer Sport season. The EOS Evaluation Form must be submitted to NTTG before the applicant can become eligible to move on to their chosen Premier Sport. The form can be scanned and uploaded directly to our website, mailed to us, or sent by fax.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="panel-button uppercase">
          Acceptance Letters & Vouchers
          </a>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="note">
                Once accepted, applicants will receive a NTTG voucher that they will then take to the chosen location of their Equalizer Sport / Premier Sport and register at no cost to them.
              </p>
              <p class="note">
                Applications are reviewed on a monthly basis and space is limited. Acceptance letters and Equalizer Sport vouchers are distributed to all accepted applicants on the first day of every month. Equalizer Sport vouchers expire one year from the date they are issued. All Premier Sport vouchers are distributed once we have received the completed End Of Season Evaluation Form. Premier Sport vouchers expire one year from the date the original Equalizer Sport voucher was issued. All applicants have one year to play both their Equalizer Sport and their Premier Sport before they must reapply to NTTG.
              </p>
            <blockquote class="colored-border mt-20">
              <p class="light note">
                A failure to complete both sports within the one year timeframe will be considered upon review of future application submissions.
              </p>
            </blockquote>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="panel-button uppercase">
          Data Sources & Equalizer Sport Determination
        </a>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="note">
                All percentages referencing participation rates and their corresponding races, along with determining factors for establishing Equalizer Sports, are based on data collected by the National Collegiate Athletic Association (NCAA). The data collected is self-reported annually by each NCAA member institution and conference. In some instances it will be specifically stated that the determining factors for establishing Equalizer Sports are based on data collected by the NCAA in conjunction with data collected by The Institute for Diversity and Ethics in Sport (TIDES).
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container" style="background-color: whitesmoke;padding-bottom:80px;">
	<div class="inner t-center">
		<h1 class="header header-style-1 dark normal uppercase oswald">
			Race And Ethnicity<span class="colored"> Category Definitions</span>
		</h1>
		<p class="light">
      For the purposes of this organization, the following definitions are used for the race and ethnicity status categories:
      <br>
      <br>
      <div class="col-sm-8 col-sm-offset-2">
        <ul style="text-align:left;padding-left:40px;list-style-type: disc;">
          <li><strong>American Indian/Alaskan Native</strong> - A person having origins in any of the original peoples of North America and who maintains cultural identification through tribal affiliation or community recognition.</li>
          <li><strong>Asian</strong> - A person having origins in any of the original peoples of the Far East, Southeast Asia or the Indian Subcontinent. This includes people from China, Japan, Korea, the Philippine Islands, India and Vietnam.</li>
          <li><strong>Black, Non-Hispanic</strong> - A person having origins in any of the black racial groups of Africa (except those of Hispanic origin).</li>
          <li><strong>Hispanic/Latino</strong> - A person of Mexican, Puerto Rican, Cuban, Central or South American or other Spanish culture or origin, regardless of race.</li>
          <li><strong>White, Non-Hispanic</strong> - A person having origins in any of the original peoples of Europe, North Africa or the Middle East (except those of Hispanic origin).</li>
          <li><strong>Native Hawaiian/Pacific Islander</strong> - A person having origins in any of the original peoples of Hawaii, Guam, Samoa or other Pacific Islands.</li>
          <li><strong>Other</strong> - A person who does not identify with the other ethnicity categories or an individual whose racial categories only consisted of one or two instances.</li>
        </ul>
      </div>
		</p>
	</div>
</section>


<!-- BG Video -->
<section class="watch-our-video t-center">
  <!-- Dark BG For Video -->
  <div class="fullscreen z-1 absolute table xdark-bg">
    <!-- Header -->
    <h1 class="header header-style-1 white normal v-center uppercase antialiased oswald t-center">
      Get Started
    </h1>
  </div>
  <!-- Ful Screen Slider -->
  <div id="video_section" class="fullscreen background34 absolute video xdark-bg">
    <!-- Video -->
    <div id="p1" class="player video-container" data-property="{videoURL:'t9vAyI1ShGM', containment:'#video_section', autoPlay:true, showControls:true, mute:true, startAt:0, opacity:1}"></div>
    <!-- End Video -->
  </div>
</section>
<!-- End BG Video -->
