<!-- Tabs And Accordions -->
<section class="clearfix boxed mt-80">

  <!-- Header -->
  <h1 class="header header-style-1 dark normal uppercase oswald animated t-center" data-animation="fadeIn" data-animation-delay="200">
    Did <span class="colored">you</span> Know?
  </h1>

  <!-- Nav Tabs -->
  <div class="tabs custom-tabs col-md-12">
    <!-- Navıgation -->
    <ul class="nav nav-tabs t-center">
      <li class="active"><a href="#one" data-toggle="tab" class="uppercase">Baseball</a></li>
      <li><a href="#two" data-toggle="tab" class="uppercase">Basketball</a></li>
      <li><a href="#three" data-toggle="tab" class="uppercase">Football</a></li>
      <li><a href="#four" data-toggle="tab" class="uppercase">Soccer</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">

      <!-- Tab -->
      <div class="tab-pane fade in active clearfix" id="one">
        <!-- Left Icon -->
        <a class="tab-image t-center mt-20 mb-20">
            <img src="images/macs.png" alt="">
        </a>
        <p class="note">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.
        </p>
      </div>
      <!-- End Tab -->

      <!-- Tab -->
      <div class="tab-pane fade in clearfix" id="two">
        <!-- Left Icon -->
        <a class="tab-image f-left">
            <img src="images/iphone_white.png" alt="">
        </a>
        <!-- Tab Texts -->
        <div class="tab-texts pt-10">
          <p class="note">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discover the undoubtable source.
          </p>
          <p class="note">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.
          </p>
        </div>
      </div>
      <!-- End Tab -->

      <!-- Tab -->
      <div class="tab-pane fade clearfix" id="three">
        <!-- Left Icon -->
        <a class="tab-image f-right">
            <img src="images/iphone_black.png" alt="">
        </a>
        <!-- Tab Texts -->
        <div class="tab-texts pt-10">
          <p class="note">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discover the undoubtable source.
          </p>
          <p class="note">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.
          </p>
        </div>
      </div>
      <!-- End Tab -->

      <!-- Tab -->
      <div class="tab-pane fade clearfix" id="four">
        <!-- Text -->
        <p class="note">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discover the undoubtable source.
        </p>
        <p class="note">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.
        </p>
      </div>
      <!-- End Tab -->

    </div><!-- End Tab panes -->
  </div><!--End Tabs Left -->

</section>
<!-- End Tabs And Accordions -->
