<!-- Tabs And Accordions -->
<section class="clearfix boxed mt-80 mb-80">

  <!-- Header -->
  <h1 class="header header-style-1 dark normal uppercase oswald animated t-center" data-animation="fadeIn" data-animation-delay="200">
    Did <span class="colored">you</span> Know?
  </h1>

  <!-- Nav Tabs -->
  <div class="tabs custom-tabs col-md-12">
    <!-- Navıgation -->
    <ul class="nav nav-tabs t-center">
      <li class="active"><a href="#baseball" data-toggle="tab" class="uppercase">Baseball</a></li>
      <li><a href="#basketball" data-toggle="tab" class="uppercase">Basketball</a></li>
      <li><a href="#football" data-toggle="tab" class="uppercase">Football</a></li>
      <li><a href="#soccer" data-toggle="tab" class="uppercase">Soccer</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">

      <!-- Tab -->
      <div class="tab-pane fade in active clearfix t-center" id="baseball">
        <!-- Left Icon -->
        <p class="note">
          Only 3.8% of all college baseball players are Black<br>
          Just 0.9% of all college baseball players are Asian<br>
          Just 0.4% of all college baseball players are listed as American Indian/ Alaskan Native<br>
        </p>
        <%= link_to 'More Facts', did_you_know_path, class: 'home-button dark-button uppercase normal', style: 'color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;' %>
      </div>
      <!-- End Tab -->

      <!-- Tab -->
      <div class="tab-pane fade in clearfix t-center" id="basketball">
        <!-- Tab Texts -->
        <div class="tab-texts pt-10">
          <p class="note">
            0.7% of all basketball players are Asian<br>
            Just 0.4% of all college baseball players are listed as American Indian/ Alaskan Native<br>
            Just 0.6% of all basketball players are American Indian/ Alaskan Native<br>
            Only 2.9% of all basketball players are listed as “Other”<br>
          </p>
          <%= link_to 'More Facts', did_you_know_path, class: 'home-button dark-button uppercase normal', style: 'color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;' %>
        </div>
      </div>
      <!-- End Tab -->

      <!-- Tab -->
      <div class="tab-pane fade clearfix t-center" id="football">
        <!-- Tab Texts -->
        <div class="tab-texts pt-10">
          <p class="note">
            Individuals who have registered as “Other” only have 3.3% representation in college football<br>
            Out of all the college football players in the country, only 0.4% of them are American Indian/ Alaskan Native<br>
            Just 0.5% all football players are Asian<br>
          </p>
          <%= link_to 'More Facts', did_you_know_path, class: 'home-button dark-button uppercase normal', style: 'color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;' %>
        </div>
      </div>
      <!-- End Tab -->

      <!-- Tab -->
      <div class="tab-pane fade clearfix t-center" id="soccer">
        <!-- Text -->
        <p class="note">
          Just 1.4% of all soccer players are Asian<br>
          Only 4.1% of female soccer players in the United States are Black<br>
          Just 10.9% of all soccer players in the United States listed their race as “Other”<br>
        </p>
        <%= link_to 'More Facts', did_you_know_path, class: 'home-button dark-button uppercase normal', style: 'color: white !important;background: rgba(0, 0, 0, 1);margin-top: 20px;' %>
      </div>
      <!-- End Tab -->

    </div><!-- End Tab panes -->
  </div><!--End Tabs Left -->

</section>
<!-- End Tabs And Accordions -->
