<footer class="big-footer fullwidth dark-footer t-left">
  <div class="footer_bottom">
    <div class="boxed clearfix">
      <div class="left f-left">
        <p class="copyright">
          ©2015 ALL RIGHT RESERVED.
        </p>
      </div>
      <div class="right f-right">
        MADE IN MIAMI BY <a href="http://stiltmedia.com" target="_blank" class="author_link">STILT MEDIA</a>

        <%# For Social Handles when available %>
        <%# <a href="#" target="_blank" class="social">
          <i class="fa fa-twitter"></i>
        </a> %>
      </div>
    </div>
  </div>
</footer>
